*{padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif;}
*{margin: 0; padding: 0;}
input, button{outline: none;}
::scrollbar {display: none;}
::-o-scrollbar {display: none;}
::-webkit-scrollbar {display: none;}

#warpper{
  width: 100%;
  border: 1px solid #27ae60;
  width: 1250px;
  height: 669px;
  position: relative;
  margin: 30px auto;
}

.bgRed{background: #f00;}
.bgGreen{background: #27ae60;}
.bgBlack{background: #000;}
.bgYellow{background: #ff0;}
.bgBlue{background: #3498db;}
.bgPurple{background: #9b59b6;}
.bgGainsboro{background: #dcdcdc;}
.bgGold{background: #ffd700;}
.bgFuchsia{background: #ff00ff;}
.bgLightBlue{background: #ADD8E6;}
.bgPink{background: #ffc0cb;}
.bgCadeBlue{background: #5f9ea0;}

.tips{
  position: absolute;
  top: 20px;
  z-index: -1000;
  width: 100%;
  text-align: center;
}

.tips .tipContent{
  padding: 0px 80px;
  color: #fff;
  font-size: 26px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  background: #ff7a7a;
}

#judgeWarpper{
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
  top: 300px;
}

#judgeWarpper #judge{
  margin: 0 auto;
}

#judgeWarpper #judge button{
  border: 0 none;
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

#judgeWarpper #judge #encourage{
  border: 1px solid #e74c3c;
  background: #ff7a7a;
}

#judgeWarpper #judge #encourage:hover{
  background: #e74c3c;
}

#judgeWarpper #judge #taunt{
  border: 1px solid #2c3e50;
  background: #34495e;
}

#judgeWarpper #judge #taunt:hover{
  background: #2c3e50;
}

/* 设置名字 */
/**********/

#setNameWarpper{
  position: absolute;
  z-index: 15;
  width: 1250px;
}

#setNameWarpper #setNamePanel{
  width: 1250px;
  height: 670px;
  background: #27ae60;
  text-align: center;
  color: #fff;
}

#setNameWarpper #setNamePanel .title{
  padding-top: 240px;
  line-height: 40px;
}

#setNameWarpper #setNamePanel .form{
  margin-top: 50px;
}

#setNameWarpper #setNamePanel .form .formInner{
  display: inline-block;
  height: 35px;
  border-bottom: 3px solid #2ecc71;
}

#setNameWarpper #setNamePanel .form input{
  text-align: center;
  width: 200px;
  height: 35px;
  border: 0 none;
  background: none;
  font-size: 20px;
  color: #fff;
  padding: 0px 10px;
}

#setNameWarpper #setNamePanel .form button{
  cursor: pointer;
  height: 30px;
  border: 0 none;
  margin-right: 10px;
  color: #fff;
  font-size: 25px;
  background: none;
  transition: all 0.3s ease 0s;
}

#setNameWarpper #setNamePanel .form button:hover{
  color: #2ecc71;
}

/* 房间选择器 */
/*************/

#roomSelectorWarpper{
  position: absolute;
  z-index: 13;
  width: 1250px;
}

#roomSelectorWarpper #roomSelector{
  width: 1250px;
  height: 670px;
  background: #27ae60;
  text-align: center;
  color: #fff;
}

#roomSelectorWarpper #roomSelector .title{
  padding-top: 240px;
  line-height: 40px;
}

#roomSelectorWarpper #roomSelector .form{
  margin-top: 50px;
}

#roomSelectorWarpper #roomSelector .form input{
  text-align: center;
  width: 200px;
  height: 35px;
  border: 0 none;
  background: none;
  font-size: 20px;
  color: #fff;
  padding: 0px 10px;
  border-bottom: 3px solid #2ecc71;
}

#roomSelectorWarpper #roomSelector .form button{
  margin-top: 20px;
  width: 130px;
  height: 30px;
  background: none;
  border: 2px solid #2ecc71;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

#roomSelectorWarpper #roomSelector .form button:hover{
  background: #2ecc71;
}

/* 画板 */
/*******/

#drawBoardWarpper{
  position: absolute;
  z-index: 10;
  width: 1250px;  
  margin: 0 auto;
}
#warpper #drawBoard{
  width: 1250px;
  text-align: center;
  margin: 0 auto;
}

#warpper #drawBoard #playersArea{
  width: 199px;
  height: 600px;
  border-bottom: 1px solid #27ae60;
  border-right: 0px;
  float: left;
  overflow: hidden;
  overflow-y: scroll;
}

#warpper #drawBoard #playersArea .user{
  width: 100%;
  height: 90px;
  overflow: hidden;
}

#warpper #drawBoard #playersArea .title{
  height: 59px;
  border-bottom: 1px solid #27ae60;
}

#warpper #drawBoard #playersArea .title .exitRoom{
  width: 50px;
  height: 59px;
  float: left;
}

#warpper #drawBoard #playersArea .title .exitRoom button{
  width: 100%;
  height: 100%;
  border: 0 none;
  font-size: 25px;
  background: #27ae60;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#warpper #drawBoard #playersArea .title .exitRoom button:hover{
  background: #2ecc71;
}

#warpper #drawBoard #playersArea .title .exitRoomTitle{
  width: 146px;
  height: 59px;
  line-height: 59px;
  float: left;
  font-size: 22px;
}

#warpper #drawBoard #playersArea .user .left{
  width: 60px;
  text-align: center;
  height: 90px;
  float: left;
  padding-left: 10px
}

#warpper #drawBoard #playersArea .user .right{
  padding-top: 15px;
  float: left;
}

#warpper #drawBoard #playersArea .user .right .playerName{
  color: #27ae60;
}

#warpper #drawBoard #playersArea .user .right .info{
  text-align: left;
  padding-left: 10px;
}

#warpper #drawBoard #playersArea .user .left img{
  margin-top: 12.5px;
  width: 65px;
  border-radius: 50% 50%;
}

#warpper #drawBoard #chatroom{
  float: left;
  width: 249px;
  height: 600px;
  border-bottom: 1px solid #27ae60;
}

#warpper #drawBoard #chatroom #quesTitle{
  font-size: 20px;
  line-height: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 42px;
  border-bottom: 1px solid #27ae60;
}

#warpper #drawBoard #chatroom .info{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #27ae60;
}

#warpper #drawBoard #chatroom #chatArea{
  position: relative;
  height: 473px;
}

#warpper #drawBoard #chatroom #chatArea #chatBodyCommen,
#warpper #drawBoard #chatroom #chatArea #chatBody{
  overflow: hidden;
  overflow-y: scroll;
  height: 403px;
  position: absolute;
}

#warpper #drawBoard #chatroom #chatArea #setChatArea{
  height: 25px;
  border-bottom: 1px solid #27ae60;
}

#warpper #drawBoard #chatroom #chatArea #setChatArea button{
  height: 25px;
  width: 65px;
  border: 0 none;
  float: left;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

#warpper #drawBoard #chatroom #chatArea #setChatArea .active{
  background: #27ae60;
  color: #fff;
}

#warpper #drawBoard #chatroom #chatArea .chatBlock{
  font-size: 14px;
  padding: 15px;
  padding-bottom: 0px;
  text-align: left;
}

#warpper #drawBoard #chatroom #chatArea .chatInfo{
  padding-bottom: 5px;
  color: #3498db;
}

#warpper #drawBoard #chatroom #chatArea #msg{
  text-align: center;
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #fff;
}

#warpper #drawBoard #chatroom #chatArea #msg input{
  width: 142px;
  padding: 0 5px;
  font-size: 16px;
  margin-left: 17px;
  outline: none;
  height: 25px;
  border: 1px solid #27ae60;
  float: left;
  border-right: 0px;
}

#warpper #drawBoard #chatroom #chatArea #msg button{
  width: 60px;
  border: 0 none;
  height: 27px;
  float: left;
  background: #27ae60;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

#warpper #drawBoard #chatroom #chatArea #msg button:hover{
  background: #2ecc71;
}

#warpper #drawBoard #canvas{
  cursor: url('../images/mouse.png'), default;
  border: 1px solid #27ae60;
  border-top: 0;
  float: left;
  position: relative;
}

#warpper #paintSettings{
  width: 1248px;
  height: 70px;
  border-top: 0px;
  margin: 0 auto;
  padding: 0;
  margin: 0;
}

#warpper #paintSettings #readyBtn{
  width: 200px;
  height: 70px;
  text-align: center;
  float: left;
}

#warpper #paintSettings #readyBtn button{
  width: 200px;
  border: 0 none;
  background: #27ae60;
  color: #fff;
  font-size: 22px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  height: 69px;
}

#warpper #paintSettings #readyBtn button:hover{
  background: #2ecc71;
}

#warpper #paintSettings #paintState{
  width: 760px;
  height: 70px;
  float: left;
}

#warpper #paintSettings #paintState .paintInfo{
  height: 35px;
  line-height: 35px;
  padding: 0px 20px;
  width: 100%;
}
#warpper #paintSettings #paintState .paintInfo .title,
#warpper #paintSettings #paintState .paintInfo .btns{
  float: left;
}

#warpper #paintSettings #paintState .paintInfo .btns button{
  width: 25px;
  height: 25px;
  border: 0 none;
  margin-top: 4.5px;
  margin-left: 10px;
  box-sizing: border-box;
  outline: none;
}

#warpper #paintSettings #paintState .paintInfo .btns .earser{
  background: url('../images/earser.png');
  background-size: 100% 100%;
}

#warpper #paintSettings #paintState .paintInfo .btns #clear{
  background: url('../images/clear.png');
  background-size: 100% 100%;
}

#warpper #paintSettings #paintState .paintInfo .btns .btnActive{
  box-shadow: 0px 0px 5px #999;
}

@media screen and (max-width: 800px) {
    #warpper{
      margin: 0px auto;
    }
}